*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5% !important;
}

body {
  /*Font Settings*/
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1rem;
  box-sizing: border-box;
}
